@page
@model RCA_Asigurari.Pages.OfertePJ.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<style>
    .details-container {
        padding: 20px;
        border-style: outset;
        border-color: #C47777;
        display: flex;
        justify-content: space-between;
        border-width: 20px 5px 10px 10px;
        position: absolute;
        top: 25%;
        left: 35%;
    }

    .details-title {
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .details-label {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .details-value {
        margin-bottom: 15px;
        text-align: center;
    }

    .details {
        border: 1px solid black;
        padding: 20px;
    }
</style>

<div class="details-container">



    <div class="details">
        <div class="details-title">Proprietar:</div>
        <hr />
        <div class="details-label">Nume proprietar:</div>
        <div class="details-value">@Html.DisplayFor(model => model.OfertaPJ.Client.NumeProprietar)</div>
        <div class="details-label">Telefon:</div>
        <div class="details-value">@Html.DisplayFor(model => model.OfertaPJ.Client.Telefon)</div>
        <div class="details-label">Email:</div>
        <div class="details-value">@Html.DisplayFor(model => model.OfertaPJ.Client.Email)</div>
    </div>

    <div class="details">
        <div class="details-title">Vehicul:</div>
        <hr />
        <div class="details-label">Număr înmatriculare:</div>
        <div class="details-value">@Html.DisplayFor(model => model.OfertaPJ.NrInmatriculare)</div>
        <div class="details-label">Număr identificare:</div>
        <div class="details-value">@Html.DisplayFor(model => model.OfertaPJ.NumarIdentificare)</div>
        <div class="details-label">Preț:</div>
        <div class="details-value">@Html.DisplayFor(model => model.OfertaPJ.Pret) Lei</div>
    </div>


</div>
<div style=" font-size: x-large;">
    @* <a asp-page="./Edit" asp-route-id="@Model.OfertaPJ?.ID">Edit</a> |*@
    <a asp-page="./Index" style="text-decoration:none;" >  &#10229  Înapoi la toate ofertele</a>
</div>


