@page
@model RCA_Asigurari.Pages.OfertePJ.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<style>
    .container {
        display: flex;
        justify-content: center;
    }

    .table {
        display: table;
        border-collapse: collapse;
        width: 80%;
        max-width: 800px;
    }

    .row {
        display: table-row;
    }

    .cell {
        display: table-cell;
        padding: 8px;
    }

    .label {
        font-weight: bold;
    }

    .value {
        text-align: left;
    }
    .delete-form{
        border-style: outset;
        border-color: #C47777;
    }
   .centrare-butoane{
       text-align:center;
   }

    .grey-button {
        display: inline-block;
        padding: 6px 16px;
        background-color: #ccc;
        color: #black;
        text-decoration: none;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease-in-out;
    }

    .grey-button:hover {
        display: inline-block;
        padding: 6px 16px;
        background-color: #darkgrey;
            color: #6d6e6d;
        text-decoration: none;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease-in-out;
    }
</style>
<h3>Sunteți sigur că doriți să ștergeți oferta pentru:</h3>
<hr />
<div class="delete-form">

    <div class="container">
        <div class="table">
            <div class="row">
                <div class="cell label">Nume proprietar:</div>
                <div class="cell value">@Html.DisplayFor(model => model.OfertaPJ.Client.NumeProprietar)</div>
            </div>
            <div class="row">
                <div class="cell label">Număr înmatriculare:</div>
                <div class="cell value">@Html.DisplayFor(model => model.OfertaPJ.NrInmatriculare)</div>
            </div>
            <div class="row">
                <div class="cell label">Număr identificare:</div>
                <div class="cell value">@Html.DisplayFor(model => model.OfertaPJ.NumarIdentificare)</div>
            </div>
            <div class="row">
                <div class="cell label">Marca:</div>
                <div class="cell value">@Html.DisplayFor(model => model.OfertaPJ.Marca)</div>
            </div>
            <div class="row">
                <div class="cell label">Model:</div>
                <div class="cell value">@Html.DisplayFor(model => model.OfertaPJ.Model)</div>
            </div>
            <div class="row">
                <div class="cell label">An fabricație:</div>
                <div class="cell value">@Html.DisplayFor(model => model.OfertaPJ.AnFabricatie)</div>
            </div>
        </div>
    </div>

   <div class="centrare-butoane">
        <form method="post">

            <input type="hidden" asp-for="OfertaPJ.ID" />
            <input type="submit" value="Șterge" class="btn btn-danger" /> |
            <a href="/Index" class="grey-button">Renunță!</a>
                  </form>
   </div> 
  
</div>
