@page 
@model RCA_Asigurari.Pages.OfertePJ.IndexModel

@{
ViewData["Title"] = "Index";
Layout = "~/Pages/Shared/_Layout.cshtml";
}

@*<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Căutați o ofertă:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |  <a asp-page="./Index" style="text-decoration:none"> <i class="bi bi-skip-backward-fill"> Înapoi la oferte</i>  </a>
          
    </div>
</form>*@
<a asp-page="./Index" style="text-decoration:none">  <i class="bi bi-eye">Vezi toate ofertele</i> </a>

<form>

    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Căutați o ofertă:" asp-for="SearchString">
        </div>
        <div class="col">
            <button class="btn btn-outline-dark" type="submit">Caută!</button>
        </div>
    </div>

</form>
<p>
@*    @if (User.IsInRole("PJ"))
    {
        <a asp-page="Create">Calculează o ofertă!</a>
    }
   *@
    @if (User.IsInRole("Admin"))
    {
        <button type="button" class="btn btn-outline-dark">
            <a class= asp-area ="" asp-page="Index" asp-route-vizualizareDorite="@true">Arată ofertele dorite</a>
        </button>
    }

    
</p>
@foreach (var item in Model.OfertaPJ.OrderByDescending(x => x.PJCreatedAt))
{
    <div class="oferte-divs" >
        <div class="row">
            
        <div class="col-md-4">
                <h3> Ofertă pentru  <b style="color: #C47777;">@Html.DisplayFor(modelItem => item.NrInmatriculare)</b></h3>
           
            <p><strong>Calculată în data:</strong> @item.PJCreatedAt.ToString("dd/MM/yyyy HH:mm")</p>
                <br>
                <p><strong>Proprietar:</strong> @Html.DisplayFor(modelItem => item.Client.NumeProprietar) @Html.DisplayFor(modelItem => item.TipSocietate.TipulSocietate)</p>

            <p><strong>CUI:</strong> @Html.DisplayFor(modelItem => item.CUI)</p>
            <p><strong>Activitate Societate:</strong> @Html.DisplayFor(modelItem => item.ActivitateSocietate)</p>
            <p><strong>Reprezentantul:</strong> @Html.DisplayFor(modelItem => item.NumeIntregReprezentant)</p>
        </div>
        <div class="col-md-4">
                <p><strong>Număr identificare:</strong> @Html.DisplayFor(modelItem => item.NumarIdentificare)</p>
                <p><strong>Marcă:</strong> @Html.DisplayFor(modelItem => item.Marca)</p>
                <p><strong>Model:</strong> @Html.DisplayFor(modelItem => item.Model)</p>
                <p><strong>An fabricație:</strong> @Html.DisplayFor(modelItem => item.AnFabricatie)</p>
                <p><strong>Capacitate cilindrică:</strong> @Html.DisplayFor(modelItem => item.CapacitateCilindrica)</p>
                <p><strong>Serie CIV:</strong> @Html.DisplayFor(modelItem => item.SerieCIV)</p>
                <p><strong>Număr de locuri:</strong> @Html.DisplayFor(modelItem => item.NrLocuri)</p>
               
        </div>
        <div class="col-md-4">
                <p><strong>Masă maximă:</strong> @Html.DisplayFor(modelItem => item.MasaMaxima)</p>
            <p><strong>Putere:</strong> @Html.DisplayFor(modelItem => item.Putere)</p>
            <p><strong>Categorie vehicul:</strong> @Html.DisplayFor(modelItem => item.CategorieVehicul.CategoriaVehicul)</p>
            <p><strong>Tip combustibil:</strong> @Html.DisplayFor(modelItem => item.TipCombustibil.TipulCombustibil)</p>
            <br>  
            <div style="border-style: inset; text-align:center; ">
                    <strong>Prima de asigurare pentru polița dumneavoastră este: </strong>
                    <h4 style="color:#C47777;">@Html.DisplayFor(modelItem => item.Pret) LEI </h4>
                </div>
                </div>

               
                <div class="edit-delete-details">
                    @if (User.IsInRole("PJ"))
                    {
                        <a asp-page="./Edit" asp-route-id="@item.ID" title="Editează"><i class="bi bi-pencil-square"></i></a>

                    }

                    @if (User.IsInRole("Admin"))
                    {
                    <a asp-page="./Details" asp-route-id="@item.ID" title="Vezi detalii"> <i class="bi bi-telephone-fill" >Contactați clientul | </i> </a>

                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-page="./Delete" asp-route-id="@item.ID" title="Șterge"><i class="bi bi-trash-fill bi-lg" ></i></a>
                       
                    }
                    @if (User.IsInRole("PJ"))
                    {
                        <form method="post">
                            <input type="hidden" name="OfertaPJID" value="@item.ID" />
                            <input type="hidden" name="EsteAdaugatLaDorite" value="@item.AdaugatOfertaDorita.ToString()" />
                            @if (item.AdaugatOfertaDorita == true)
                            {
                                <input type="submit" value="Nu mă mai interesează! &#10008;" class="btn btn-primary" style="width:200px; background-color:#994e56">   
                            }
                            else
                            {
                                <input type="submit" value="Sunt interesat/ă!  &#10084; " class="btn btn-primary" style="width:200px;">  

                            }
                        </form>
                    }
                </div>
               
         
        </div>
</div>

}