@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>Inregistrare!</h1>
<style>
    input[type=text]:focus {
        border: 3px solid #555;
    }

   

    .register-button {
        background-color: #C47777;
        border-radius: 12px;
        width: 150px;
        font-family: Calibri;
        font-style: italic;
        font-size: 25px;
        float: right;
    }

        .register-button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            .register-button span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

        .register-button:hover span {
            padding-right: 25px;
        }

            .register-button:hover span:after {
                opacity: 1;
                right: 0;
            }
</style>
<div>
    <div class="overflow-auto">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

            <h2>Creati un cont nou</h2>

            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>



           @* <div class="form-group">
                <label asp-for="Client.RadioButtonClienti" class="control-label">Alege tipul de client: </label>
                @foreach (var figurina in Model.RadioButtonClienti)
                {
                    <input type="radio" asp-for="Client.RadioButtonClient" value="@figurina" />

                    @figurina

                }

                <span asp-validation-for="Client.RadioButtonClienti" class="text-danger"></span>
            </div>*@



            <div style="display: grid; grid-template-columns: 1fr 1fr 1fr">
              @*  <div class="register-form-divs" >

                    <h4>Completati doar pentru <b> persoana fizica</b>! </h4>

                    <div class="form-floating">
                        <input asp-for="Input.CNP" class="form-control" autocomplete="name" aria-required="true" />
                        <label asp-for="Input.CNP"></label>
                        <span asp-validation-for="Input.CNP" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.NumeProprietar" class="form-control" autocomplete="name" aria-required="true" />
                        <label asp-for="Input.NumeProprietar"></label>
                        <span asp-validation-for="Input.NumeProprietar" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.PrenumeProprietar" class="form-control" autocomplete="name" aria-required="true" />
                        <label asp-for="Input.PrenumeProprietar"></label>
                        <span asp-validation-for="Input.PrenumeProprietar" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.SerieCI" class="form-control" autocomplete="name" aria-required="true" />
                        <label asp-for="Input.SerieCI"></label>
                        <span asp-validation-for="Input.SerieCI" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.NumarCI" class="form-control" autocomplete="name" aria-required="true" />
                        <label asp-for="Input.NumarCI"></label>
                        <span asp-validation-for="Input.NumarCI" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.Varsta" class="form-control" autocomplete="name" aria-required="true" />
                        <label asp-for="Input.Varsta"></label>
                        <span asp-validation-for="Input.Varsta" class="text-danger"></span>
                    </div>
                </div>


                <div class="register-form-divs">

                    <h4>Completati doar pentru <b>persoana juridica</b> !</h4>
                    <div class="form-floating">
                        <input asp-for="Input.CUI" class="form-control" autocomplete="name" aria-required="true" />
                        <label asp-for="Input.CUI"></label>
                        <span asp-validation-for="Input.CUI" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Client.TipSocietateID" class="control-label"></label>
                        <select asp-for="Client.TipSocietateID" class="form-control" asp-items="ViewBag.TipSocietateID">
                            <option value="" disabled selected>-Selectati tipul de societate:-</option>
                        </select>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.ActivitateSocietate" class="form-control" autocomplete="name" aria-required="true" />
                        <label asp-for="Input.ActivitateSocietate"></label>
                        <span asp-validation-for="Input.ActivitateSocietate" class="text-danger"></span>
                    </div>

                    <div class="form-floating">
                        <input asp-for="Input.NumeFirma" class="form-control" autocomplete="name" aria-required="true" />
                        <label asp-for="Input.NumeFirma"></label>
                        <span asp-validation-for="Input.NumeFirma" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.NumeReprezentantFirma" class="form-control" autocomplete="name" aria-required="true" />
                        <label asp-for="Input.NumeReprezentantFirma"></label>
                        <span asp-validation-for="Input.NumeReprezentantFirma" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.PrenumeReprezentantFirma" class="form-control" autocomplete="name" aria-required="true" />
                        <label asp-for="Input.PrenumeReprezentantFirma"></label>
                        <span asp-validation-for="Input.PrenumeReprezentantFirma" class="text-danger"></span>
                    </div>

                </div>*@


                <div class="form-divs" >
                    <h4>Adresa! </h4>
                    <div class="form-group">
                        <label asp-for="Client.TipClientID" class="control-label"></label>
                        <select asp-for="Client.TipClientID" class="form-control" asp-items="ViewBag.TipClientID">
                            <option value="" disabled selected>-Selectati tipul de client:-</option>
                        </select>
                    </div>
                        <div class="form-floating">
                        <input asp-for="Input.NumeProprietar" class="form-control" autocomplete="name" aria-required="true" />
                        <label asp-for="Input.NumeProprietar"></label>
                        <span asp-validation-for="Input.NumeProprietar" class="text-danger"></span>
                    </div>
                    <select asp-for="Client.Judet" asp-items="@Model.Judete" class="form-control" id="judetDropdown">
                        <option>Select a Judet</option>
                    </select>

                    <select asp-for="Client.Localitate" asp-items="@Model.Localitati" class="form-control" id="localitateDropdown">
                        <option>Select a Localitate</option>
                    </select>

                   @* <div class="form-group">
                        <label asp-for="Client.JudetID" class="control-label"></label>
                        <select asp-for="Client.JudetID" class="form-control" asp-items="ViewBag.JudetID">
                            <option value="" disabled selected>-Selectati judetul:-</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="Client.LocalitateID" class="control-label"></label>
                        <select asp-for="Client.LocalitateID" class="form-control" asp-items="ViewBag.LocalitateID">
                            <option value="" disabled selected>-Selectati localitatea:-</option>
                        </select>
                    </div>*@
                    <div class="form-floating">
                        <input asp-for="Input.Strada" class="form-control" autocomplete="name" aria-required="true" />
                        <label asp-for="Input.Strada"></label>
                        <span asp-validation-for="Input.Strada" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.Numar" class="form-control" autocomplete="name" aria-required="true" />
                        <label asp-for="Input.Numar"></label>
                        <span asp-validation-for="Input.Numar" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.CodPostal" class="form-control" autocomplete="name" aria-required="true" />
                        <label asp-for="Input.CodPostal"></label>
                        <span asp-validation-for="Input.CodPostal" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.Telefon" class="form-control" autocomplete="name" aria-required="true" />
                        <label asp-for="Input.Telefon"></label>
                        <span asp-validation-for="Input.Telefon" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                        <label asp-for="Input.Email"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Input.Password"></label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Input.ConfirmPassword"></label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <button id="registerSubmit" type="submit" class="register-button" @*class="w-64 btn btn-lg btn-primary"*@ @*style="background-color:#C47777; float: right;border-radius: 12px;"*@><span>Register</span></button>

        </form>
    </div>
    @**@

    @*<div class="col-md-6 col-md-offset-2">
    <section>
    <hr />
    @{
    if ((Model.ExternalLogins?.Count ?? 0) == 0)
    {

    }
    else
    {
    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
    <div>
    <p>
    @foreach (var provider in Model.ExternalLogins!)
    {
    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
    }
    </p>
    </div>
    </form>
    }
    }
    </section>
    </div>*@
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            let localitati = @Html.Raw(Json.Serialize(Model.Localitati));

            $("#judetDropdown").on("change", function () {
                let selectedJudet = $(this).val();
                let filteredLocalitati = localitati.filter(function (localitate) {
                    return localitate.group.name === selectedJudet;
                });

                $("#localitateDropdown").empty().append("<option>Select a Localitate</option>");
                $.each(filteredLocalitati, function (index, localitate) {
                    $("#localitateDropdown").append(`<option value="${localitate.value}">${localitate.text}</option>`);
                });
            });
        });
    </script>

    <partial name="_ValidationScriptsPartial" />
}
