@page
@model RCA_Asigurari.Pages.Clienti.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1><i class="bi bi-people-fill"></i>   Clienti</h1>

<form method="post" class="searchForm">
    <input type="text" name="searchString" placeholder="Caută un client" />
      <div>
        <a type="submit"><button class="btn btn-primary" >Caută</a>
        <a asp-page="Index"><button class="btn btn-primary">Înapoi la listă </a>

      </div>
   
</form>

<table class="table">
    <thead>
        <tr>
       
            <th>
                @Html.DisplayNameFor(model => model.Client[0].TipClient.TipulClientului)
            </th>
            <th>
             Numele și prenumele
           </th>
            <th>
                @Html.DisplayNameFor(model => model.Client[0].Adresa)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Client[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client[0].Telefon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       @* @if (Model.Client != null)
        {*@
        @foreach (var item in Model.Client.OrderBy(x => x.NumeProprietar))
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.TipClient.TipulClientului)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeProprietar)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Adresa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefon)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID" title="Editează"><i class="bi bi-pencil-square"> </i></a> |
@*                        <a asp-page="./Details" asp-route-id="@item.ID" title="Vezi detalii"><i class="bi bi-info-circle"></i></a> |
*@                        <a asp-page="./Delete" asp-route-id="@item.ID" title="Șterge"><i class="bi bi-trash-fill" , style="color:red"></i></a>
                    </td>
                </tr>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger" role="alert" style="text-size:larger">
                @TempData["ErrorMessage"]
            </div>
        }
    </tbody>
</table>