@page
@model RCA_Asigurari.Pages.Oferte.CreateModel


@{
    ViewData["Title"] = "Create";
}
<h4>Calculează-ți oferta RCA</h4>

<hr />
<div class="formular">

    <div >
        <form method="post"  class="row g-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

   <div>
       <div class="col-md-4">
        <label asp-for="Oferta.ClientID" class="control-label"> Proprietar </label>
        <select asp-for="Oferta.ClientID" class="form-control" asp-items="ViewBag.ClientID"></select>
    </div> 
   </div>
            

    <div class="col-md-4">
        <label asp-for="Oferta.NrInmatriculare" class="control-label"></label>
        <input asp-for="Oferta.NrInmatriculare" class="form-control" />
        <span asp-validation-for="Oferta.NrInmatriculare" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="Oferta.NumarIdentificare" class="control-label"></label>
        <input asp-for="Oferta.NumarIdentificare" class="form-control" />
        <span asp-validation-for="Oferta.NumarIdentificare" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="Oferta.Marca" class="control-label"></label>
        <input asp-for="Oferta.Marca" class="form-control" />
        <span asp-validation-for="Oferta.Marca" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="Oferta.Model" class="control-label"></label>
        <input asp-for="Oferta.Model" class="form-control" />
        <span asp-validation-for="Oferta.Model" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="Oferta.AnFabricatie" class="control-label"></label>
        <input asp-for="Oferta.AnFabricatie" class="form-control" />
        <span asp-validation-for="Oferta.AnFabricatie" class="text-danger"></span>
    </div>

    <div class="col-md-4">
        <label asp-for="Oferta.CapacitateCilindrica" class="control-label"></label>
        <input asp-for="Oferta.CapacitateCilindrica" class="form-control" />
        <span asp-validation-for="Oferta.CapacitateCilindrica" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="Oferta.SerieCIV" class="control-label"></label>
        <input asp-for="Oferta.SerieCIV" class="form-control" />
        <span asp-validation-for="Oferta.SerieCIV" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="Oferta.NrLocuri" class="control-label"></label>
        <input asp-for="Oferta.NrLocuri" class="form-control" />
        <span asp-validation-for="Oferta.NrLocuri" class="text-danger"></span>
    </div>

    <div class="col-md-4">
        <label asp-for="Oferta.MasaMaxima" class="control-label"></label>
        <input asp-for="Oferta.MasaMaxima" class="form-control" />
        <span asp-validation-for="Oferta.MasaMaxima" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="Oferta.Putere" class="control-label"></label>
        <input asp-for="Oferta.Putere" class="form-control" />
        <span asp-validation-for="Oferta.Putere" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="Oferta.CategorieVehiculID" class="control-label">Categoria</label>
        <select asp-for="Oferta.CategorieVehiculID" class="form-control" asp-items="ViewBag.CategorieVehiculID"></select>
    </div>
    <div class="col-md-4">
        <label asp-for="Oferta.TipCombustibilID" class="control-label">Tipul de combustibil</label>
        <select asp-for="Oferta.TipCombustibilID" class="form-control" asp-items="ViewBag.TipCombustibilID"></select>
    </div>
    <div class="form-group">
        <div class="form-check" style="color:black">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
            <label class="form-check-label" for="invalidCheck2" style="color:black"> Acceptați condițiile </label>
        </div>
    </div>
            <div class="form-group">
 <div class="table">
 <table>
 <tr>
                            @{
                                int cnt = 0;
                                foreach (var cat in Model.AssignedOptionalDataList)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                        @:</tr><tr>
                                    }
                                    @:<td>
         <input type="checkbox"
         name="selectedAttributes"
         value="@cat.OptionalID"
                                    @(Html.Raw(cat.Assigned ?
                                   "checked=\"checked\"" : "")) />
                                    @cat.AtributOptional
                                    @:</td>
                                }
                                @:</tr>
                            }
 </table>
 </div>
 </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" id="deleteBtn" onclick="return confirmDelete();" style="background-color:#C47777" /> 
                |  <a asp-page="Index">Back to List</a>

                @* <button>                                          
                     <a class="nav-link text-dark" asp-area="" asp-page="/Index"> 
                         <input type="submit" value="Create" class="btn btn-primary" id="deleteBtn" onclick="return confirmDelete();" style="background-color:#C47777" />  
                     </a>
                </button>*@
            </div>
        </form>

    </div>
      @*Modal pentru popup*@

        <div class="modal" tabindex="-1" role="dialog" id="deleteModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Oferta</h5>
                </div>
                <div class="modal-body">
                   Pretul politei dumneavoastra este @Html.DisplayFor(modelItem => modelItem.Oferta.Pret) LEI!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="deleteCancelBtn">Renunta</button>
                    <button type="button" class="btn btn-danger" id="deleteConfirmBtn">Continua</button>
                </div>
            </div>
        </div>
    </div>
</div> 

<script>
    function confirmDelete() {
        // arata modalul
        $('#deleteModal').modal('show');

        // se gestioneaza raspunsul utilizatorului
        //$('#deleteConfirmBtn').click(function () {
        //    $('#deleteModal').modal('hide');
        //    $('#deleteBtn').closest('form').submit(); // se submite formularul care contine butonul de delete
        //});

        $('#deleteCancelBtn').click(function () {
            $('#deleteModal').modal('hide');
            return false; // nu se submite formularul
        });

        return false; // nu se submite formularul inca
    }
</script>



@*
<script>
    $(document).ready(function() {
        // Check if the flag is set to show the popup
        var showPopup = @ViewData["ShowPopup"] ?? "false";
        if (showPopup === true) {
            // Your popup logic here
            alert('Popup message'); // Replace with your own popup logic

            // Reset the flag to prevent showing the popup multiple times
            @ViewData["ShowPopup"] = false;
        }
    });
</script>*@

@*<script>
    $(document).ready(function () {
        // Attach click event handler for the "Create" button
        $('#deleteBtn').click(function (event) {
            event.preventDefault(); // prevent default form submission

            // Show the modal
            $('#deleteModal').modal('show');

            // Attach click event handler for the "Renunta" button
            $('#deleteCancelBtn').click(function () {
                $('#deleteModal').modal('hide');
            });

            // Attach click event handler for the "Continua" button
            $('#deleteConfirmBtn').click(function () {
                $('#deleteModal').modal('hide');
                $('#deleteBtn').closest('form').submit(); // submit the form containing the delete button
            });
        });
    });
</script>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}