@page
@model RCA_Asigurari.Pages.Oferte.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Oferte RCA</h1>


<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Cautati o oferta:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" style= "background-color:black"/> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Oferta[0].Client.NumeClientFirma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oferta[0].NumarIdentificare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oferta[0].NrInmatriculare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oferta[0].Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oferta[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oferta[0].AnFabricatie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oferta[0].CapacitateCilindrica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oferta[0].SerieCIV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oferta[0].NrLocuri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oferta[0].MasaMaxima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oferta[0].Putere)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oferta[0].CategorieVehicul.CategoriaVehicul)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oferta[0].TipCombustibil.TipulCombustibil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oferta[0].Pret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oferta[0].AtributeOptionaleOferta)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OfertaD.Oferte)
        {
            string selectedRow = "";
            if (item.ID == Model.OfertaID)
            {
                selectedRow = "table-success";
            }
                <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.Client.NumeClientFirma)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumarIdentificare)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NrInmatriculare)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnFabricatie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CapacitateCilindrica)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SerieCIV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NrLocuri)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MasaMaxima)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Putere)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategorieVehicul.CategoriaVehicul)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipCombustibil.TipulCombustibil)
                </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Pret)
                    </td>
                    <td>
                    @{
                        foreach (var category in item.AtributeOptionaleOferta)
                        {
                            @category.AtributOptional.AtributulOptional <br />
                        }
                    }
                    </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID"><i class="bi bi-pencil-square", style="color:green"> </i>Edit</a> | 
                    <a asp-page="./Details" asp-route-id="@item.ID"><i class="bi bi-info-circle" , style="color:green"></i>Details</a> | 
                    <a asp-page="./Delete" asp-route-id="@item.ID"><i class="bi bi-trash-fill", style="color:red"></i>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>